@model GradeTracker.Models.CourseModel

@{
    ViewBag.Title = "EditCategoryWeights";
}

<h2>EditCategoryWeights</h2>

<div class="row">
    <div class="btn btn-default addButton">Add New Category</div> 
    <div class="col-md-8 textboxArea">

    </div>
</div>


<script>
    $('.addButton').click(function () {

    });
</script>

