@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <p>If you have any questions or if you notice any bugs please send me a message below.</p>
        <address>
            <strong>Email:</strong>   <a href="mailto:info@personalgradebook.com">info@personalgradebook.com</a><br />
        </address>
    </div>
</div>

