
@{
    ViewBag.Title = "LearnMore";
}
<link href="~/Scripts/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Scripts/fancybox/source/jquery.fancybox.pack.js"></script>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="~/Images/logo.png" />
        </div>
        <div class="col-lg-6 text-center">
            <h3 class="add-margin-left">Personal gradebook is a 100% free <br />grade tracking web application for students.</h3>
            <a href="@Url.Action("Register", "Account")"class="btn btn-primary text-center">Join Today!</a>
        </div>
    </div>
</div>

<div class="row">
    <img src="" />
    <div class="col-lg-4 text-center">
        <h4 class="text-info">View/Add Current and Past Semesters</h4>
        <a class="fancybox img-thumbnail display-clickme" rel="group" href="~/Images/Screenshots/SemesterListScreen.png"><img src="~/Images/Screenshots/SemesterListScreenThumb.png" alt="" /></a>
        <ul class="list-text" style="padding-top: 10px;">
            <li>Add Current and Past Semesters</li>
            <li>Keep Track of Old Semester Grades</li>
            <li>View GPA of Each Semester</li>
        </ul>
    </div>
    <div class="col-lg-4 text-center">
        <h4 class="text-info">View/Add Courses To Each Semester</h4>
        <a class="fancybox img-thumbnail display-clickme" rel="group" href="~/Images/Screenshots/CourseListScreen.png"><img src="~/Images/Screenshots/CourseListScreenThumb.png" alt="" /></a>
        <ul class="list-text" style="padding-top: 10px;">
            <li>Add Courses To Each Semester</li>
            <li>View Multiple Course Grades At Once</li>
            <li>Keep Track of Currently Enrolled Courses</li>
        </ul>
    </div>
    <div class="col-lg-4 text-center">
        <h4 class="text-info">Add Assignments and Weights To Courses</h4>
        <a class="fancybox img-thumbnail display-clickme" rel="group" href="~/Images/Screenshots/SpecificCourseScreen.png"><img src="~/Images/Screenshots/SpecificCourseScreenThumb.png" alt="" /></a>
        <ul class="list-text" style="padding-top: 10px;">
            <li>Add Assignments/Work Item to Course</li>
            <li>Set Up Grading Weight Categories</li>
            <li>View Current Grade For Each Category</li>
            <li>View Current Weighted Grade</li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.fancybox').fancybox();
    });
</script>

